* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

header {
  background: #0fbd9c;
}

.SIVE {
  font-family: "Gruppo", cursive;
  font-size: 40pt;
  letter-spacing: 4pt;
  font-weight: bold;
  color: white;
}

.envio-header {
  color: white;
}

.dropdown ul li a:hover {
  background-color: #0fbd9c;
  color: white;
}

.row .banderas img {
  padding: 3px;
}

.color-boton {
  background-color: #0fbd9c;
}

.main-bg {
  background-color: #0fbd9c;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #0fbd9c;
  border-color: none;
  outline: none;
  box-shadow: none;
}

.btn-primary:hover {
  background-color: black;
  color: white;
}

a {
  color: #0fbd9c;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

.home:hover {
  color: #0fbd9c;
}

.badge {
  background-color: #0fbd9c;
}

.btn-nuestro-color {
  background-color: #0fbd9c;
}

.nuestro-color-hover:hover {
  background-color: #0fbd9c;
  color: white;
}

footer {
  background: black;
  color: white;
}

footer ul li a {
  text-decoration: none;
  color: white;
}

footer ul li a:hover {
  text-decoration: none;
  color: #0fbd9c;
}

/* Hasta  aca llego el css del 14.06 - viene lo nuevo */

.pagination li a:focus,
.pagination li a:hover,
.pagination li span:focus,
.pagination li span:hover {
  background-color: #0fbd9c;
  color: white;
}

.pagination li a {
  color: black;
  font-weight: normal;
}

.list-group .list-group-item .list-group-item-action a:hover {
  background-color: #0fbd9c;
  border-color: none;
  outline: none;
  box-shadow: none;
}

.categorias-hover :hover {
  background-color: #0fbd9c;
  color: #0fbd9c;
}

.fondo-alta-de-productos {
  background-image: url(../imagenes/gradient-alta-producto.jpg);
}

.form-control:focus {
  border-color: #0fbd9c;
  box-shadow: inset 0 1px 1px rgba(15, 189, 156), 10 0 8px rgba(15, 189, 156);
}

#user-message::placeholder {
  text-align: center;
  padding-top: 30px;
}

hr {
  border: 0;
  border-top: 2px solid black;
  margin-top: 1px;
}

.background {
  background-color: #eef2f5;
}

#precio-en-card {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

#titulo-en-card {
  font-family: "Bebas Neue", cursive;

  font-size: 18px;
}

.margin-left {
  margin-left: 5px !important;
}

.margin-right {
  margin-right: 5px !important;
}

a:link {
  text-decoration: none;
}

#img-logo {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.idioma {
  width: 100px;
  background-color: darkgray;
  font-size: small;
}

.idioma option {
  background-color: darkgray;
}

.idioma option :focus {
  background-color: darkgray;
}

.encabezado a {
  font-size: 13px;
  color: darkgray;
}

/*Estilos de vista producto*/

.image_bg {
  height:500px;
  max-width: 100%;
  z-index: 10;
  margin: auto;
  margin-bottom: 100px;
  background-color: rgba(240, 240, 240, 1);
}

.fondo{
    background-color:  #0fbd9c;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 25px, rgba(131, 21, 21, 0.5) 25px, rgba(150, 123, 123, 0.5) 40px);
}


.image_min {
  border: solid 10px white;
  border-radius: 5px;
  overflow: hidden;
  transition: all ease-out 0.1s;
}

.image_btn img {
  height: 50px;
  width: 50px;
}
.image_btn {
  border: solid 2px rgba(230, 230, 230, 1);
  margin-left: 2%;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  transition: all ease-out 0.2s;
  width: auto;
  height: 50px;
}

.image_btn:hover {
  transform: scale(1.05);
  border: solid 2px #0fbd9c;
}

#precio-tachado {
  text-decoration: line-through rgba(200, 200, 200, 5);
  color: rgba(200, 200, 200, 5);
}

.texto-detalle {
  color: rgba(80, 80, 80, 5);
  background-color: rgba(250, 250, 250, 10);
  padding: 10px;
  border-radius: 15px;
}
.etiqueta {
  background-color: rgb(240, 240, 240);
  padding: 2px;
  border-radius: 15px;
}

.cantidad-y-carrito {
  height: auto;
  width: 180px;
}

#cantidad {
text-align: center;
font-family:sans-serif;

}

.alinear-imagen-vertical{
  display: flex;
  align-items: center;
}

.card-imagen-size {
  height: 200px;
}

.texto-color{
color: #0fbd9c;
}

.tarjetas-imagenes{
width: 20%;
height:auto;
}

.agregar-favoritos:hover{
  transform: scale(1.25);
} 

.ir-carrito{
background-color: #f3f3f3f3;

}
.ir-carrito:hover{
background-color: #0fbd9c;
color: white;
}
.boton-transparente-carrito{
color:#0fbd9c;
}

.boton-transparente-carrito:hover{
  color:black;
}
