
<div id="imagenes-producto" class="carousel slide carousel-fade" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-target="#imagenes-producto"  data-slide-to="0" class="image_btn" aria-current="true" aria-label="Slide 1">
            <img src="img_Prueba/reloj_1.webp" class="d-block img-fluid">
        </button>
        <button type="button" data-target="#imagenes-producto"  data-slide-to="1" class="image_btn"   aria-label="Slide 2">
            <img src="img_Prueba/reloj_2.webp" class="d-block img-fluid">
        </button>
        <button type="button" data-target="#imagenes-producto"  data-slide-to="2" class="image_btn"  aria-label="Slide 3">
            <img src="img_Prueba/reloj_3.webp" class="d-block img-fluid">
        </button>
        <button type="button" data-target="#imagenes-producto"  data-slide-to="3" class="image_btn"  aria-label="Slide 4">
            <img src="img_Prueba/reloj_4.webp" class="d-block img-fluid">
        </button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="img_Prueba/reloj_1.webp" class="d-block image_bg" >
        </div>
        <div class="carousel-item">
            <img src="img_Prueba/reloj_2.webp" class="d-block image_bg">
        </div>
        <div class="carousel-item">
            <img src="img_Prueba/reloj_3.webp" class="d-block image_bg">
        </div>
        <div class="carousel-item">
            <img src="img_Prueba/reloj_4.webp" class="d-block image_bg">
        </div>
    </div>
</div>
</div>
