<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
aria-labelledby="staticBackdropLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header rounded-0 text-light bg-dark">
            <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-check texto-color"></i>  Se agregó un nuevo producto al carrito</h5>
            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
           <p class="text-center"><strong>¿Desea ir ahora al carrito?</strong></p>
        </div>
            <button type="button" class="btn rounded-0 texto-color ir-carrito">Ir a carrito</button>
            <button type="button" class="btn rounded-0 texto-color ir-carrito" data-bs-dismiss="modal">Ir más tarde</button>    
    </div>
</div>
</div>