<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="card mb-2" style="width: 15rem;">
            <div class="card-body">
                <div class="col-12 d-flex justify-content-end"><i
                        class="far fa-heart texto-color agregar-favoritos"></i></div>
                <img src="img_Prueba/similar_1.webp" class="card-img-top card-imagen-size mt-2" alt="...">
                <p class="card-title d-flex justify-content-center mb-0" id="titulo-en-card">Reloj Inteligente Smart
                    Watch Android Bluetooth Cel Crazy F</p>
                <p class="card-text d-flex justify-content-center mb-0 mt-1" id="precio-en-card">$ 1.390 UYU</p>
                <div class="col-12 d-flex justify-content-center mb-0">
                    <button type="submit" class="btn boton-transparente-carrito" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="fas fa-plus"></i> <strong>Agregar al carrito</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="card mb-2" style="width: 15rem;">
            <div class="card-body">
                <div class="col-12 d-flex justify-content-end"><i
                        class="far fa-heart texto-color agregar-favoritos"></i></div>
                <img src="img_Prueba/similar_2.webp" class="card-img-top card-imagen-size mt-2" alt="...">
                <p class="card-title d-flex justify-content-center mb-0" id="titulo-en-card">Reloj Inteligente Smart
                    Watch Android Bluetooth Cel Redondo</p>
                <p class="card-text d-flex justify-content-center mb-0 mt-1" id="precio-en-card">$ 1.190 UYU</p>
                <div class="col-12 d-flex justify-content-center mb-0">
                    <button type="submit" class="btn boton-transparente-carrito" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="fas fa-plus"></i> <strong>Agregar al carrito</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="card mb-2" style="width: 15rem;">
            <div class="card-body">
                <div class="col-12 d-flex justify-content-end"><i
                        class="far fa-heart texto-color agregar-favoritos"></i></div>
                <img src="img_Prueba/similar_3.webp" class="card-img-top card-imagen-size mt-2" alt="...">
                <p class="card-title d-flex justify-content-center mb-0" id="titulo-en-card">Smartwatch Reloj Hyundai
                    P240 Compatible iPhone Samsung Ip64</p>
                <p class="card-text d-flex justify-content-center mb-0 mt-1" id="precio-en-card">U$S39.00</p>
                <div class="col-12 d-flex justify-content-center mb-0">
                    <button type="submit" class="btn boton-transparente-carrito" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="fas fa-plus"></i> <strong>Agregar al carrito</strong></button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-3 d-flex justify-content-center">
        <div class="card mb-2" style="width: 15rem;">
            <div class="card-body">
                <div class="col-12 d-flex justify-content-end"><i
                        class="far fa-heart texto-color agregar-favoritos"></i></div>
                <img src="img_Prueba/similar_4.webp" class="card-img-top card-imagen-size mt-2" alt="...">
                <p class="card-title d-flex justify-content-center mb-0" id="titulo-en-card">Reloj Inteligente Xiaomi
                    Amazfit Bip S 42mm 5atm Gps
                </p>
                <p class="card-text d-flex justify-content-center mb-0 mt-1" id="precio-en-card">U$S87.90</p>
                <div class="col-12 d-flex justify-content-center mb-0">
                    <button type="submit" class="btn boton-transparente-carrito" data-bs-toggle="modal"
                        data-bs-target="#staticBackdrop"> <i class="fas fa-plus"></i> <strong>Agregar al carrito</strong></button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/vista-info.js"></script>