<div class="card-body">
    <div class="row p-4">
        <h4 class="card-title"><b>Smartwatch Amazfit Fashion Gts 2e 1.65 Caja De Aleación De Aluminio
                Malla Obsidian Black De Silicona A2021</b></h4><br>
        <h5 id="precio-tachado" class="pt-4">U$S 199.00</h5>
        <h1 class="texto-color pb-4"><i>U$S 155.00</i></h1>
        <hr>
        <h5 class="py-2">Stock <i>(921 disponible)</i></h5>

        <form action="">
            <div class="input-group col-12 mt-2">
                <div class=" col-xl-6 p-1 d-flex">
                    <input id="cantidad" class="form-control cantidad-y-carrito" type="number" min="1"
                        placeholder="Unidad(es)" value="1">
                </div>
                <div class=" col-xl-6 p-1 d-flex">
                    <button type="submit" class="btn btn-nuestro-color btn-outline-light cantidad-y-carrito rounded "
                        data-bs-toggle="modal" data-bs-target="#staticBackdrop"><i class="fas fa-cart-plus"></i> Añadir
                        al Carrito</button>
                </div>
            </div>

            <div class="accordion" id="EpicExample">
                <div class="py-1">
                    <button class="btn btn-nuestro-color btn-outline-light rounded cantidad-y-carrito" type="button"
                        data-toggle="collapse" data-target="#CollapseOne" aria-controls="CollapseOne">
                        <i class="far fa-credit-card"></i> Forma de pago
                    </button>
                </div>
                <div id="CollapseOne" class="collapse" aria-labelledby="HeadingOne" data-parent="#EpicExample">
                    <div class="texto-detalle rounded-0 p-4">
                        <p><b>Tarjetas de crédito, Acreditación instantánea.</b></p>
                        <img src="img_Prueba/visa.png" class="tarjetas-imagenes">
                        <img src="img_Prueba/lider.png" class="tarjetas-imagenes">
                        <img src="img_Prueba/diners-club.png" class="tarjetas-imagenes">
                        <img src="img_Prueba/creditel.png" class="tarjetas-imagenes">
                        <img src="img_Prueba/master-card.png" class="tarjetas-imagenes">
                        <img src="img_Prueba/oca.png" class="tarjetas-imagenes">
                        <br><br>
                        <p><b>Tarjetas de débito, Acreditación instantánea.</b></p>
                        <img src="img_Prueba/visa.png" class="tarjetas-imagenes">
                        <br><br>
                        <p><b>Efectivo en redes de cobranza, pagas y se acredita instantáneamente.</b></p>
                        <img src="img_Prueba/red-pagos.png" class="tarjetas-imagenes">
                        <img src="img_Prueba/abitab.png" class="tarjetas-imagenes">
                        <br>
                    </div>
                </div>
        </form>

        <div class="mt-3">
            <br>
            <hr><br>
            <span>
                <h4><i class="far fa-heart texto-color agregar-favoritos"></i> Agregar a Favoritos</h4>
            </span>
        </div>
        <br>
        <h4> <i class="fas fa-tags texto-color"></i> Etiquetas</h4>
        <div class="etiqueta px-2 mb-1">Categoría <i class="fas fa-angle-right"></i>Tecnología <i
                class="fas fa-angle-right"></i> Otros</div>
        <div class="etiqueta px-2 mb-1">Color <i class="fas fa-angle-right"></i> Negro</div>
        <div class="etiqueta px-2 mb-1">Origen <i class="fas fa-angle-right"></i> China</div>
        <div class="etiqueta px-2 mb-1">Tamaño <i class="fas fa-angle-right"></i> Mediano</div>
    </div>
</div>
