<div class="card">
    <iframe class="card-img-top"
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3271.963962153912!2d-56.19745968501674!3d-34.90735388113343!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x959f8113309e5bdd%3A0xccea897ca3134a3c!2sZonalaptop%20Uruguay!5e0!3m2!1ses-419!2suy!4v1628157060177!5m2!1ses-419!2suy"
        width="auto" height="400px" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
    <div class="card-body">
        <h3 class="card-title text-center"><i class="fas fa-map-marked-alt texto-color"></i> Ubicación
        </h3>
        <p class="card-text">
        <div class="etiqueta px-2 mb-1">Departamento <i class="fas fa-angle-right"></i> Montevideo.
        </div>
        <div class="etiqueta px-2 mb-1">Ciudad <i class="fas fa-angle-right"></i> Montevideo.</div>
        <div class="etiqueta px-2 mb-1">Dirección <i class="fas fa-angle-right"></i> San José 976.</div>
        </p>
        <hr>
        <h3 class="card-title text-center"><i class="fas fa-mobile-alt texto-color"></i> Contacto </h3>
        <p class="card-text">
        <div class="etiqueta px-2 mb-1">Telefono <i class="fas fa-angle-right"></i> 22164287</div>
        <div class="etiqueta px-2 mb-1">Movil <i class="fas fa-angle-right"></i> 094485011</div>
        <h1 class="p-2 m-2">
            <div class="row">
                <div class="col-3"><i class="fab fa-facebook-square"></i></div>
                <div class="col-3"><i class="fab fa-instagram-square"></i></div>
                <div class="col-3"><i class="fab fa-whatsapp-square"></i></div>
                <div class="col-3"><i class="fab fa-telegram"></i></div>
            </div>
        </h1>
        </p>
    </div>
</div>