<footer class="page-footer font-small pt-4" id="footer">
    <div class="container-fluid text-center text-md-left">
        <div class="row">
            <div class="col-md-2 mb-md-0 mb-2">
                <ul class="list-unstyled align-items-center">
                    <li>
                        <a href="#!">Términos y condiciones</a>
                       
                    </li>
                </ul>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
                <ul class="list-unstyled align-items-center">
                    <li>
                        <a href="#!">Ayuda</a>
                    </li>
                </ul>
            </div>
        </div>  
    <div class="d-flex justify-content-end">
        <ul class="list-unstyled">
            <li>    
                 © 2021 Copyright
            </li>
            <li>    
                <a href="#!">  L4M S.R.L.</a>
            </li>
        </ul>
    </div>
</div>
</footer>
</html> 