<script type="text/javascript">$(".btn").mouseup(function () {
        $(this).blur();
    })</script>
<header class=" bg-dark pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 d-flex justify-content-start">
                <a href="#">
                    <img class="" width='20%' src="img_Prueba/logo2sive.png">
                </a>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js"
        integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT"
        crossorigin="anonymous"></script>